version: '3.8'

volumes:
  harmonaize_local_postgres_data: {}
  harmonaize_local_postgres_data_backups: {}
  harmonaize_local_redis_data: {}

services:
  django: &django
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: harmonaize_local_django
    container_name: harmonaize_local_django
    depends_on:
      - postgres
      - redis
      - mailpit
    volumes:
      - .:/app:z
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
    ports:
      - '8000:8000'
    command: /start

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: harmonaize_production_postgres
    container_name: harmonaize_local_postgres
    volumes:
      - harmonaize_local_postgres_data:/var/lib/postgresql/data
      - harmonaize_local_postgres_data_backups:/backups
    env_file:
      - ./.envs/.local/.postgres

  mailpit:
    image: docker.io/axllent/mailpit:latest
    container_name: harmonaize_local_mailpit
    ports:
      - "8025:8025"

  redis:
    image: docker.io/redis:6
    container_name: harmonaize_local_redis
    
    volumes:
      - harmonaize_local_redis_data:/data
    

  celeryworker:
    <<: *django
    image: harmonaize_local_celeryworker
    container_name: harmonaize_local_celeryworker
    depends_on:
      - redis
      - postgres
      - mailpit
    ports: []
    command: /start-celeryworker

  celerybeat:
    <<: *django
    image: harmonaize_local_celerybeat
    container_name: harmonaize_local_celerybeat
    depends_on:
      - redis
      - postgres
      - mailpit
    ports: []
    command: /start-celerybeat

  flower:
    <<: *django
    image: harmonaize_local_flower
    container_name: harmonaize_local_flower
    ports:
      - '5555:5555'
    command: /start-flower

  db:
    image: postgres:13
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://myuser:mypassword@db:5432/mydatabase
